* {
		font-family:georgia;
	}
	
	#wrapper {
		border:3px solid #CAFF42;
		text-align:center;
		
		/* horizontal and vertical centering */
		position:absolute;		
		top:50%;
		left:50%;
			
		margin-left:-220px;
		width:400px;
		
		margin-top:-310px; 
		height:580px;
		
		padding:20px;

		/* rounded edge */
		-webkit-border-radius: 12px; 
		-moz-border-radius: 12px; 
		border-radius: 12px; 		
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

	}
	
	p {
		width:400px;
		text-align:left;
	}
	
	h1 {
		color:#13400B;	
	}
	
	
	.myButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #ffffff;
		}.myButton:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
			background-color:#dfdfdf;
		}.myButton:active {
			position:relative;
			top:1px;
		}